.overflow.historyModal {
  /*background: url(../images/sidebar-bg.png);*/
  /*background: rgba(3, 35, 58, .95);*/
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  height: calc(100% - 174px);
  display: flex;
  transition: all 0.3s;
  opacity: 0;
  z-index: -9999;
  overflow-y: auto;
}
.overflow.historyModal.active {
  opacity: 1;
  z-index: 9999;
  width: 100%;
  overflow: hidden;
}
.overflow.historyModal h3 {
  color: #fff;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 17px;
}
.overflow.historyModal p {
  color: #fff;
}
.overflow.historyModal h5 {
  font-size: 16px;
  text-indent: -10px;
}
#history_txs {
  width: 970px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  height: calc(100% - 105px);
  text-align: center;
  color: #fff;
  overflow: auto;
}
#history_txs > div {
  border: 1px solid #00C9FF;
  border-radius: 8px;
  background: transparent;
  padding: 8px;
  text-align: left;
  position: relative;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  margin: 10px auto;
}
#history_txs .history {
  overflow: hidden;
}
#history_txs .history .confirmations_wrap {
  border: 1px solid #00C9FF;
  border-radius: 8px;
  background: transparent;
  padding: 8px;
  text-align: left;
  position: relative;
  margin: 15px 0 0;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
#history_txs > div:hover {
  outline: 0px none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(84, 188, 217, 1) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(84, 188, 217, 1) !important;
  border: 1px solid #00e7ff !important;
}
#history_txs > div > p {
  display: inline-block;
  padding: 2px 0;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0.8;
  white-space: normal;
  font-family: "Brandon Grotesque", Helvetica, Arial, sans-serif;
  margin: 10px 0 0;
}
#history_txs > div > p.coin-name {
  margin-top: 0;
  padding-top: 0;
}
#history_txs > div > p.date {
  font-family: Helvetica, Arial, sans-serif;
}
#history_txs > div > p.address-green {
  background: #0ec8c1;
  padding: 3px 8px 3px;
  font-size: 16px;
}
#history_txs > div > p.address-blue {
  background: #12bedd;
  padding: 3px 8px;
  font-size: 16px;
}
#history_txs > div > p.address-arrow {
  padding: 2px 8px;
}
#history_txs > div > pre:first-of-type {
  font-style: italic;
  background-color: #000;
  border: 0px;
  color: #fff;
  margin-top: 10px;
}
#history_txs span {
  display: block;
}
#history_txs img {
  position: absolute;
  right: 90px;
  top: 35px;
  max-width: 95px;
  opacity: .8;
}
.historyModal .close {
  color: #fff;
  opacity: 1;
  font-size: 20px;
  position: relative;
  right: 0;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial, sans-serif;
}