.importModal {
  display: table;
  border: 1px solid #327A9B;
  border-radius: 8px;
  background: url(../images/info-bg.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 15px;
  width: 550px;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100002;
}
.importModal.active {
  visibility: visible;
  opacity: 1;
}
.importModal:hover {
  outline: 0px none;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  border: 1px solid #00e7ff;
}
.importModal .importModalInner {
  display: table-cell;
}
.importModal .importModalInner form {
  text-align: center;
}
.importModal .importModalInner form .input-group {
  width: 100%;
  margin-bottom: 15px;
}
.importModal .importModalInner form .input-group.input-group-hidden {
  visibility: hidden;
}
.importModal .importModalInner input {
  background: transparent;
  border: 0px;
  width: 100%;
}
.importModal .importModalInner label {
  width: 100%;
  font-family: 'Gotham Medium', sans-serif;
  font-size: 15px;
  margin-bottom: 1px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
  display: block;
}
.importModal .importModalInner button {
  font-family: "Brandon Grotesque Bold", Helvetica, Arial,sans-serif;
  border: 1px solid #327A9B;
  background-color: #12bedd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 0px;
  margin-top: 7px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 135px;
  height: 34px;
}
.importModal .close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial,sans-serif;
}
.importModal .importModalInner input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: .8;
  color: #fff;
}
.importModal .importModalInner input::-moz-placeholder { /* Firefox 19+ */
  opacity: .8;
  color: #fff;
}
.importModal .importModalInner input:-moz-placeholder { /* Firefox 18- */
  opacity: .8;
  color: #fff;
}
.importModal .importModalInner input:-ms-input-placeholder { /* IE 10+ */
  opacity: .8;
  color: #fff;
}