.importwallet-wrap {
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}
.importwallet-wrap .col-xs-12 {
  background: url('../images/importwallet-bg.png');
  background-size: contain;
  background-repeat: x;
  display: block;
  padding-bottom: 20px;
}
.Import-wallet {
  height: auto;
  margin-top: 10px;
}
.Import-wallet form {
  background: url(../images/importwallet-bg.png);
  background-size: contain;
  background-repeat: repeat-x;
  display: block;
  max-width: 440px;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px 40px;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.Import-wallet .btn {
  font-family: "Brandon Grotesque Bold", Helvetica, Arial,sans-serif;
  width: 100%;
  border: 0px none;
  border-radius: 0px;
  box-shadow: none;
  background: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 4px;
  font-weight: 600;
  padding: 10px 15px;
  transition: all 0.4s;
}
.Import-wallet .btn:focus {
  outline: 0px none;
  background: transparent;
}
.Import-wallet .btn:active {
  color: #fff;
}
.Import-wallet .btn img {
  display: inline-block;
  margin-left: 5px;
  height: 25px;
  position: relative;
  top: -3px;
}
.Import-wallet .fileandpass {
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 10px;
}
.Import-wallet .fileandpass > p{
  color: rgba(255,255,255,.8);
  margin: 0;
}
.Import-wallet .fileandpass > p.filename{
  color: #fff;
}
.Import-wallet .fileandpass > input{
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid #3580A0;
  background: url(../images/lock.png) no-repeat;
  background-size: auto 70%;
  background-position: 8px center;
  padding: 20px;
  font-size: 18px;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
  /*border-radius: 10px;*/
  line-height: 60px;
  color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.Import-wallet .fileandpass > input:focus {
  outline: 0px none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(84, 188, 217, 1) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(84, 188, 217, 1) !important;
  border: 1px solid #54BCD9;
}
.Import-wallet input[name="fileInput_filename"] {
  text-indent: -9999px !important;
  background: url('../images/import-top.png') !important;
  background-size: auto 100% !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  padding: 50px !important;
  z-index: 99999 !important;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
  width: 305px;
}
.Import-wallet input[name="fileInput"] {
  z-index: 999999 !important;
  padding: 50px !important;
  cursor: pointer;
}
.Import-wallet .currentwallet {
  margin-top: 10px;
}
.Import-wallet .currentwallet p {
  margin-bottom: 5px;
}
.Import-wallet input[name="fileInput"]:hover {
  cursor: pointer;
}
.Import-wallet input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: .8;
  color: #fff;
}
.Import-wallet input::-moz-placeholder { /* Firefox 19+ */
  opacity: .8;
  color: #fff;
}
.Import-wallet input:-moz-placeholder { /* Firefox 18- */
  opacity: .8;
  color: #fff;
}
.Import-wallet input:-ms-input-placeholder { /* IE 10+ */
  opacity: .8;
  color: #fff;
}
.Import-wallet > p {
  color: #00C9FF;
}