.mainAlertBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.6);
  z-index: 10001;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.mainAlertBackdrop.active {
  visibility: visible;
  opacity: 1;
}
.mainAlertPopup {
  display: table;
  border: 1px solid #327A9B;
  border-radius: 8px;
  background: url(../images/info-bg.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 15px;
  width: 400px;
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100002;
}
.mainAlertPopup.active {
  visibility: visible;
  opacity: 1;
}
.mainAlertPopup:hover {
  outline: 0px none;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  border: 1px solid #00e7ff;
}
.mainAlertPopup .mainAlertPopupInner {
  display: table-cell;
}
.mainAlertPopup p {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  padding-right: 15px;
  font-size: 17px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1.2;
  text-align: left;
}
.mainAlertPopup button {
  font-family: 'Gotham Medium', sans-serif;
  padding: 3px 15px 2px;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  background: #0d8fa6;;
  display: none;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.mainAlertPopup .mainAlertProceedWrap {
  text-align: center;
}
.mainAlertPopup button.active {
  display: inline-block;
  margin: 15px 0 0;
}
.mainAlertPopup .close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
}