.migration-wrap,
.safex-wrap {
  height: 570px;
  overflow: auto;
  padding-bottom: 15px;
  animation-duration: 1s;
  animation-delay: .8s;
  animation-fill-mode: both;
  -webkit-transition: width .3s;
  transition: width .3s;
}
.migration-wrap p,
.safex-wrap p {
  color: #fff;
}
.migration-wrap button,
.safex-wrap button {
  display: inline-block;
  background: #009dbf;
  border: 0px none;
  border-radius: 5px;
  padding: 9px 12px 10px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 5px;
  margin-right: 10px;
  color: #fff;
}
.migration-wrap button:active,
.safex-wrap button:active {
  -moz-box-shadow:    inset 0 0 1px #000000 !important;
  -webkit-box-shadow: inset 0 0 1px #000000 !important;
  box-shadow:         inset 0 0 1px #000000 !important;
}
.migration-wrap .new-wallet-btn {
  background: #0ec8c1;
}
.address-wrap {
  margin-bottom: 15px;
  border: 1px solid rgba(0, 126, 162, .52);
  padding: 15px;
  border-radius: 7px;
  position: relative;
}
.address-wrap p,
.safex-wrap p {
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.2;
  color: rgba(255,255,255,.9);
  word-break: break-word;
}
.address-wrap span {
  width: 125px;
  display: inline-block;
}
.address-wrap .steps-wrap {
  margin-bottom: 5px;
}
.migration-step-wrap {
  margin-top: 15px;
}
.migration-step-wrap select {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 2px 29px 3px 12px;
  margin: 10px 0 5px;
  border: 1px solid #1a9dbd;
  background-color: rgba(28, 170, 203, .35);
  color: #fff;
  border-radius: 10px;
  text-align-last: left;
  width: 100%;
  height: 30px;
}
.migration-step-wrap select:focus {
  outline: none;
}
.migration-step-wrap form {
  margin-bottom: 10px;
}
.migration-step-wrap input {
  width: 100%;
  margin: 10px 0 5px;
  display: inline-block;
  border: 0px none;
  border-radius: 8px;
  padding: 6px 10px;
  background: url('../images/input-bg.png') repeat-y top left;
  background-size: 100% 100%;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.migration-step-wrap input:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  -moz-box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.migration-step-wrap input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  color: #fff;
}
.migration-step-wrap input::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: #fff;
}
.migration-step-wrap input:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  color: #fff;
}
.migration-step-wrap input:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  color: #fff;
}
.migration-wrap .green-text {
  color: #0ec884;
}
/* Migration Popup */
.migrationAlert {
  display: table;
  border: 1px solid #327A9B;
  border-radius: 8px;
  background: url(../images/info-bg.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 12px 15px 15px;
  width: 400px;
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100002;
}
.migrationAlert.active {
  visibility: visible;
  opacity: 1;
}
.migrationAlert:hover {
  outline: 0px none;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  border: 1px solid #00e7ff;
}
.migrationAlert .close {
  width: auto;
  position: absolute;
  right: 15px;
  top: 14px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial,sans-serif;
}
.migrationAlert p {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  padding-right: 15px;
  font-size: 17px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1.2;
  text-align: left;
}
.migrationAlertBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.5);
  z-index: 10001;
  opacity: 0;
  visibility: hidden;
  border-radius: 7px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.migrationAlertBackdrop.active {
  visibility: visible;
  opacity: 1;
}