.migration-wrap,
.safex-wrap {
  height: 570px;
  overflow: auto;
  padding-bottom: 15px;
  animation-duration: 1s;
  animation-delay: .8s;
  animation-fill-mode: both;
  -webkit-transition: width .3s;
  transition: width .3s;
}
.migration-wrap button,
.safex-wrap button {
  display: inline-block;
  background: #009dbf;
  border: 0px none;
  border-radius: 5px;
  padding: 9px 12px 10px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 0px;
  color: #fff;
  width: 85px;
}
.migration-wrap button:active,
.safex-wrap button:active {
  -moz-box-shadow:    inset 0 0 1px #000000 !important;
  -webkit-box-shadow: inset 0 0 1px #000000 !important;
  box-shadow:         inset 0 0 1px #000000 !important;
}
.address-wrap {
  margin-bottom: 20px;
}
.address-wrap p,
.safex-wrap p {
  background: transparent;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.2;
  font-family: 'Gotham Medium', sans-serif;
  color: rgba(255,255,255,.9);
}
.address-wrap span {
  width: 125px;
  display: inline-block;
}
