.migration-wrap,
.safex-wrap {
  height: 570px;
  overflow: auto;
  padding-top: 5px;
  padding-bottom: 15px;
  animation-duration: 1s;
  animation-delay: .8s;
  animation-fill-mode: both;
  -webkit-transition: width .3s;
  transition: width .3s;
}
.migration-wrap p,
.safex-wrap p {
  color: #fff;
}
.migration-wrap button,
.safex-wrap button {
  display: inline-block;
  background: #009dbf;
  border: 0px none;
  border-radius: 5px;
  padding: 9px 12px 10px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1;
  margin-right: 10px;
  color: #fff;
}
.migration-wrap button:active,
.safex-wrap button:active {
  -moz-box-shadow:    inset 0 0 1px #000000 !important;
  -webkit-box-shadow: inset 0 0 1px #000000 !important;
  box-shadow:         inset 0 0 1px #000000 !important;
}
.migration-wrap .refresh-btn {
  width: 80px;
}
.migration-wrap .refresh-btn.disabled {
  background: rgba(0, 157, 191, .6);
}
.migration-wrap .green-btn {
  background: #0ec8c1;
}
.migration-wrap .green-btn:hover {
  box-shadow: 0 0 30px 0 rgba(14, 200, 193, .5) !important;
}
.migration-wrap .green-btn:active,
.migration-wrap .red-btn:active {
  box-shadow: none !important;
}
.migration-wrap .red-btn {
  background: #c80e4b;
}
.migration-wrap .red-btn:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
}
.address-wrap {
  margin-bottom: 15px;
  border: 1px solid rgba(0, 126, 162, .52);
  padding: 15px;
  border-radius: 7px;
  position: relative;
  transition: all ease 0.2s;
}
.keys-table-wrap {
  color: #fff;
}
.migration-wrap:hover .address-wrap {
  opacity: .8;
}
.migration-wrap:hover .address-wrap:hover{
  opacity: 1;
  box-shadow: 0 0 7px 0 rgba(0, 199, 236, 0.5);
}
.address-wrap p,
.safex-wrap p {
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.2;
  color: rgba(255,255,255,.9);
  word-break: break-word;
}
.address-wrap span {
  width: 125px;
  display: inline-block;
}
.address-wrap .span-200 {
  width: 200px !important;
}
.address-wrap .steps-wrap {
  margin-bottom: 5px;
}
.migration-step-wrap {
  margin-top: 15px;
}
.migration-step-wrap select {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 2px 29px 3px 12px;
  margin: 0 0 10px;
  border: 1px solid #1a9dbd;
  background-color: rgba(28, 170, 203, .35);
  color: #fff;
  border-radius: 10px;
  text-align-last: left;
  width: 100%;
  height: 30px;
}
.migration-step-wrap select:focus {
  outline: none;
}
.migration-step-wrap form {
  margin-bottom: 10px;
}
.migration-step-wrap label {
  color: #fff;
  margin-bottom: 0;
  font-size: 16px;
  margin: 5px 0 3px;
}
.migration-step-wrap input {
  width: 100%;
  margin: 0px 0 10px;
  display: inline-block;
  border: 0px none;
  border-radius: 8px;
  padding: 6px 10px;
  background: url('../images/input-bg.png') repeat-y top left;
  background-size: 100% 100%;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.migration-step-wrap input:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  -moz-box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.migration-step-wrap input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  color: #fff;
}
.migration-step-wrap input::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: #fff;
}
.migration-step-wrap input:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  color: #fff;
}
.migration-step-wrap input:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  color: #fff;
}
.migration-wrap .green-text {
  color: #0ec884;
}
.migration-wrap .red-text {
  color: #c80e4b;
  text-transform: uppercase;
}
/* Migration Popup */
.migrationAlert {
  display: table;
  border: 1px solid #327A9B;
  border-radius: 8px;
  background: url(../images/info-bg.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 12px 15px 15px;
  width: 500px;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100002;
}
.migrationAlert.active {
  visibility: visible;
  opacity: 1;
}
.migrationAlert:hover {
  outline: 0px none;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  border: 1px solid #00e7ff;
}
.migrationAlert .close {
  width: auto;
  position: absolute;
  right: 15px;
  top: 14px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial,sans-serif;
}
.migrationAlert p {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  padding-right: 15px;
  font-size: 17px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1.2;
  text-align: left;
}
.migrationAlert .btns-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}
.migrationAlert .btns-wrap button {
  min-width: 75px;
}
.migrationAlertBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.5);
  z-index: 10001;
  opacity: 0;
  visibility: hidden;
  border-radius: 7px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.migrationAlertBackdrop.active {
  visibility: visible;
  opacity: 1;
}
/* Instructions Modal */
.instructionsModal {
  display: table;
  border: 1px solid #327A9B;
  border-radius: 8px;
  background: url(../images/info-bg.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  color: #fff;
  font-size: 17px;
  padding: 12px 15px 15px;
  width: 890px;
  min-height: 431px;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100002;
}
.instructionsModal.active {
  visibility: visible;
  opacity: 1;
}
.instructionsModal:hover {
  outline: 0px none;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  border: 1px solid #00e7ff;
}
.instructionsModal .close {
  width: auto;
  position: absolute;
  right: 15px;
  top: 14px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial,sans-serif;
}
.instructionsModal h3 {
  text-align: center;
  margin: 0 0 25px;
}
.instructionsModal p button {
  display: inline-block;
  background: #009dbf;
  border: 0px none;
  border-radius: 5px;
  padding: 6px 12px 7px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1;
  margin: 2px 4px;
  color: #fff;
  position: relative;
  top: -1px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.instructionsModal p button.green-btn {
  background: #0ec8c1;
}
.instructionsModal p button.red-btn {
  background: #c80e4b;
}
.instructionsModal p button:hover {
  cursor: initial;
}
.instructionsModal .lang-bts-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 15px;
}
.instructionsModal .lang-bts-wrap button {
  width: 48px;
  text-indent: 2px;
  border-radius: 7px;
  background-color: rgba(18, 190, 221, 0.45);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  line-height: 1.2;
  position: relative;
  border: 2px solid #54BCD9;
  margin: 0 10px 0 0;
  padding: 3px 8px 4px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.instructionsModal .lang-bts-wrap button.active {
  background: #0ec8c1;
  border: 2px solid #0ec8c1;
}
.instructionsModal .lang-bts-wrap button.active:hover {
  box-shadow: 0 0 30px 0 rgba(14, 200, 193, .5) !important;
}
.instructionsModal p {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  font-size: 17px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1.2;
  text-align: left;
}
.instructionsModal .red-text {
  color: #c80e4b;
  text-transform: uppercase;
  margin: 5px 0 0;
  font-size: 16px;
}
.instructionsModalBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.7);
  z-index: 10001;
  opacity: 0;
  visibility: hidden;
  border-radius: 7px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.instructionsModalBackdrop.active {
  visibility: visible;
  opacity: 1;
}
/* Reset Migration Modal */
.resetMigration {
  display: table;
  border: 1px solid #327A9B;
  border-radius: 8px;
  background: url(../images/info-bg.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  color: #fff;
  font-size: 17px;
  padding: 12px 15px 15px;
  width: 600px;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100002;
}
.resetMigration.active {
  visibility: visible;
  opacity: 1;
}
.resetMigration:hover {
  outline: 0px none;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  border: 1px solid #00e7ff;
}
.resetMigration .close {
  width: auto;
  position: absolute;
  right: 15px;
  top: 14px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial,sans-serif;
}
.resetMigration h3 {
  text-align: center;
  margin: 0 0 25px;
}
.resetMigration p {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  padding-right: 15px;
  font-size: 17px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1.2;
  text-align: left;
}
.resetMigration .btns-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}
.resetMigration .btns-wrap button {
  min-width: 75px;
}
.resetMigrationBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.5);
  z-index: 10001;
  opacity: 0;
  visibility: hidden;
  border-radius: 7px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.resetMigrationBackdrop.active {
  visibility: visible;
  opacity: 1;
}