.overflow.sendModal {
  background: url(../images/sidebar-bg.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  position: absolute;
  top: 85px;
  right: -260px;
  width: 260px;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: -9999;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.overflow.sendModal.active {
  right: 0px;
  opacity: 1;
  z-index: 9999;
}
.overflow.sendModal > form {
  min-width: 100%;
  margin: auto;
  height: 100%;
}
.overflow.sendModal > form > .col-xs-12 {
  height: 100%;
}
.overflow.sendModal > form h3,
.overflow.sendModal .container .head h3 {
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  display: inline-block;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 0;
  width: 100%;
}
.overflow .transactionSent .head h3,
.overflow .transactionBeingSent .head h3 {
  text-align: center !important;
}
.overflow .settingsModal .form-wrap .head h3,
.overflow.affiliateModal form h3,
.overflow.dividendModal form h3 {
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  display: inline-block;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0;
  width: 100%;
  text-indent: initial;
}
.overflow.sendModal > form h3 span {
  text-align: right;
  color: #fff;
  text-shadow: none;
  opacity: 1;
}
.overflow.sendModal .currency {
  color: #fff;
  margin: 0px auto;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.overflow.sendModal .currency span {
  margin-right: 20px;
}
.overflow.sendModal .currency img {
  max-width: 70px;
}
.overflow.sendModal input {
  display: block;
  margin-bottom: 7px;
  border: 1px solid transparent;
  background: rgba(255,255,255,.1);
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px;
  color: #fff;
  font-size: 12px;
  padding: 3px 5px 2px;
  width: 100%;
  height: initial;
  font-family: Helvetica, sans-serif;
  text-align: left;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.overflow.sendModal input:focus {
  outline: 0px none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(84, 188, 217, 1) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(84, 188, 217, 1) !important;
  border: 1px solid #00e7ff !important;
}
.overflow.sendModal textarea {
  display: block;
  margin-bottom: 7px;
  border: 1px solid transparent;
  background: rgba(255,255,255,.1);
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 3px 5px 2px;
  width: 100%;
  font-family: Helvetica, sans-serif;
  text-align: left;
  resize: none;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.overflow.sendModal textarea:focus {
  outline: 0px none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(84, 188, 217, 1) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(84, 188, 217, 1) !important;
  border: 1px solid #00e7ff !important;
}
.overflow.sendModal .sent-close {
  display: block;
  margin: 20px auto 0;
  border: 1px solid rgba(0, 231, 255, 1);
  border-radius: 10px;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 1px 5px;
  width: 70%;
}
.overflow.sendModal .confirm-btn {
  display: block;
  margin: 30px auto;
  border: 1px solid rgba(0, 231, 255, 1);
  border-radius: 10px;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 1px 5px;
  width: 70%;
}
.overflow.sendModal .input-group {
  width: 100%;
}
.overflow.sendModal .input-group .input-group-addon {
  padding: 0;
  background: none;
  border: none;
  color: #fff;
  text-align: right;
  width: 100%;
  display: block;
  margin: 0 0 10px;
  text-align: right;
}
.overflow.sendModal label {
  width: 100%;
  text-align: left;
  margin-right: 5px;
  color: #fff;
  margin-bottom: 2px;
}
.overflow.sendModal .form-group {
  margin-bottom: 7px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.overflow.sendModal p {
  padding: 5px 10px;
  margin-bottom: 20px;
}
.overflow.sendModal p {
  color: #54C4F8;
}
.overflow.sendModal .head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 15px;
}
.overflow.sendModal .head span {
  margin-left: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  font-size: 20px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial, sans-serif;
}
.overflow.sendModal .head img {
  height: 42px;
}
.sendCloseButton {
  padding: 7px 9px;
  width: auto;
  position: absolute;
  bottom: -1px;
  left: 0;
  background: rgba(18, 190, 221, .35);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}