.keys-container {
  overflow: hidden;
  height: 100%;
  animation-duration: 1s;
  animation-delay: 1.9s;
  animation-fill-mode: both;
  -webkit-transition: width .3s;
  transition: width .3s;
}
.keys-container:before {
  /*background: -moz-linear-gradient(top, rgba(0,0,0,0.95) 0%, rgba(255,255,255,0) 100%); !* FF3.6-15 *!*/
  /*background: -webkit-linear-gradient(top, rgba(0,0,0,0.95) 0%,rgba(255,255,255,0) 100%); !* Chrome10-25,Safari5.1-6 *!*/
  /*background: linear-gradient(to bottom, rgba(0,0,0,0.95) 0%,rgba(255,255,255,0) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00ffffff',GradientType=0 );*/
  background: url(data:image/svg+xml;base64,alotofcodehere);
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.55) 45%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,rgba(0,0,0,0.55)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.55) 45%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0.55) 45%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.55) 45%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.55) 45%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00ffffff',GradientType=0 )
  content: '';
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  height: 35px;
  z-index: 1;
}
.keys-container .keys-wrap {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding-bottom: 194px;
  animation-duration: 1s;
  animation-delay: 1.9s;
  animation-fill-mode: both;
  -webkit-transition: width .3s;
  transition: width .3s;
}
.keys-container .keys-wrap .row {
  opacity: 1;
  transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.keys-container .keys-wrap .row.row-hidden {
  opacity: 0;
}
.keys-container .keys-wrap .row:hover .key-wrap:not(.hidden-xs) {
  margin-bottom: 0;
}
.keys-container .keys-wrap .row:hover .single-key {
  opacity: .8;
}
.keys-container .keys-wrap .row:hover .single-key:hover{
  opacity: 1;
}
.keys-container .sidebar-opened {
  width: 708px;
}
.single-key {
  background: url(../images/single-key-bg.png);
  background-size: 710px;
  background-repeat: repeat-y;
  color: #fff;
  padding: 3px 0 0 0;
  border-radius: 10px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(0, 126, 162, .52);
  border-right: 1px solid rgba(0, 126, 162, .52);
  border-bottom: 1px solid rgba(0, 126, 162, .52);
  transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.single-key .col-xs-7 {
  padding-left: 0;
  height: 67px;
}
.single-key .col-xs-7 span {
  position: relative;
  bottom: -2px;
  left: 10px;
  color: #00d1ff;
}
.single-key .key-label {
  background: transparent;
  border: 0px;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1;
  width: calc(100% - 37px);
  /*margin-left: 10px;*/
  font-family: 'Gotham Medium', sans-serif;
  color: rgba(255,255,255,.9);
}
.single-key .edit-label-btn {
  background: transparent;
  border: 0px;
  padding: 0;
  padding-left: 10px;
  padding-right: 7px;
}
.single-key button[disabled]:hover,
.single-key html input[disabled]:hover {
  cursor: not-allowed;
}
.single-key .edit-label-btn img {
  width: 16px;
  position: relative;
  top: -2px;
  opacity: .5;
  -webkit-transition: all 0.07s ease-in;
  -moz-transition: all 0.07s ease-in;
  transition: all 0.07s ease-in;
}
.single-key .key-label::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: .8;
  color: #fff;
  font-size: 17px;
}
.single-key .key-label::-moz-placeholder { /* Firefox 19+ */
  opacity: .8;
  color: #fff;
  font-size: 17px;
}
.single-key .key-label:-moz-placeholder { /* Firefox 18- */
  opacity: .8;
  color: #fff;
  font-size: 17px;
}
.single-key .key-label:-ms-input-placeholder { /* IE 10+ */
  opacity: .8;
  color: #fff;
  font-size: 17px;
}
.single-key .key {
  font-size: 18px;
  letter-spacing: 0.1em;
  margin: 0px 10px 0px;
  line-height: 1;
}
.single-key .key::selection {
  background: #eee;
}
.single-key .key::-moz-selection {
  background: #eee;
}
.single-key .amounts{
  text-transform: uppercase;
  padding-left: 0;
}
.single-key .safex-amounts {
  width: 200px;
  display: inline-block;
  float: left;
  position: relative;
  left: 17px;
  top: 3px;
}
.single-key .bitcoin-amounts {
  width: 240px;
  display: inline-block;
  float: left;
  position: relative;
  left: 17px;
  top: 3px;
}
.single-key .bitcoin-amounts .amount span:first-child {
  width: 100px;
}
.single-key .bitcoin-amounts .amount span:last-child {
  width: 70px;
}
.single-key .amounts > span {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}
.single-key .amounts button.archive-button {
  background: #009dbf;
  border: none;
  padding: 2px 0px 3px;
  margin: 0;
  color: #fff;
  border-radius: 0;
}
.single-key .amounts button.archive-button:hover {
  background: #00d0ff;
}
.single-key .amounts button.archive-button:last-of-type {
  margin: 0;
}
.single-key .amounts button.to-archive-btn,
.single-key .amounts button.to-home-btn {
  border-bottom-left-radius: 10px;
}
.single-key .amounts button.show-private-btn {
  border-top-right-radius: 10px;
}
.single-key .amounts button.archive-button > span {
  padding: 7px 6px 7px;
  white-space: nowrap;
  font-family: Helvetica, sans-serif;
  font-size: 11.6px;
  /*border-top-right-radius: 10px;*/
  /*border-bottom-left-radius: 10px;*/
  text-transform: uppercase;
}
.single-key .amounts .amount-btns-wrap {
  margin-left: -3px;
  bottom: 0px;
  left: 18px;
  width: 256px;
  padding-right: 0;
  padding-left: 0;
}
.single-key .amounts > button.history-button > span {
  margin-top: 25px;
}
.single-key .amounts > span > span {
  color: #00d1ff;
  width: 50%;
}
.single-key .amounts > span > span:first-child {
  text-align: right;
}
.single-key .amounts > span > span.coin-name {
  color: #fff;
  background: transparent;
  padding-left: 5px;
  padding-right: 5px;
  width: 55px;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
}
.form-send .fee-buttons span,
.overflow.sendModal p{
  border: 1px solid #327A9B;
  border-radius: 0px;
  background: url('../images/btn-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 10px;
  margin-right: 5px;
}
.sendCloseButton .close {
  color: #fff;
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
  float: left;
  text-align: left;
  font-family: Helvetica, sans-serif;
  transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.single-key .single-key-btns-wrap {
  position: relative;
  top: 3px;
}
.single-key .amounts-wrap {
  background: url(../images/amounts-bg.png) top right;
  background-size: 50%;
  background-repeat: repeat-y;
  border-bottom-right-radius: 9px;
  bottom: -2px;
}
.single-key .single-key-btns-wrap button {
  font-family: 'Gotham Medium', sans-serif;
  padding: 5px 8px;
  border: none;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  margin: 12px 15px 10px 0;
}
.single-key .single-key-btns-wrap .send-btn {
  background: #12bedd;
}
.single-key .single-key-btns-wrap .receive-btn {
  background: #0ec8c1;
}
.single-key .single-key-btns-wrap .send-btn.disabled,
.single-key .single-key-btns-wrap .receive-btn.disabled {
  background: rgba(190, 190, 190, .44);
}
.single-key .pull-right button:disabled {
  opacity: 0.8;
  background: rgba(190, 190, 190, .44);
}
.single-key .pull-right button img {
  display: inline-block;
  margin-right: 5px;
  height: 20px;
  position: relative;
  top: 0px;
}
.single-key .pull-right button span {
  position: relative;
  top: 1px;
  font-size: 16px;
  letter-spacing: 1px;
}
.single-key .pull-right button .img-wrap {
  position: relative;
  top: 0px;
  letter-spacing: initial;
}
.form-send {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
  top: 2px;
  border: 0px none;
  visibility: hidden;
}
.form-send.active {
  border-top: 1px solid rgba(255,255,255, .2);
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
  height: auto;
  visibility: visible;
  top: 2px;
}
.form-send .fee-buttons span {
  float: right;
  margin-top: 10px;
  margin-right: 0;
  padding: 5px 15px;
}
.form-send .form-send-submit {
  background: #12bedd;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  float: right;
  margin-top: 10px;
  margin-right: 0;
  padding: 5px 10px;
  border: 1px solid rgba(0, 231, 255, .44);
  border-radius: 8px;
  line-height: 1.2;
}
.form-send .form-send-submit img {
  position: relative;
  left: 0;
  top: -3px;
  margin-right: 10px;
  height: 18px;
}
.form-send .form-group {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}
.form-send .form-group label {
  width: 135px;
  margin-right: 5px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Gotham Light', sans-serif;
  font-weight: 400;
  color: rgba(255,255,255, .68);
}
.form-send .form-group .total-label {
  font-family: 'Gotham Medium', sans-serif;
  color: #fff;
  text-transform: capitalize;
}
.form-send .send-left .form-group {
  text-align: left;
}
.form-send .send-left img {
  width: 120px;
  padding: 10px;
  padding-top: 0;
}
.form-send input {
  width: 130px;
  border: none;
  background: none;
  border-bottom: 1px solid rgba(255,255,255, .2);
  color: #fff;
  text-align: right;
  font-family: 'Gotham Medium', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.form-send .total-input {
  color: #12bedd;
  text-shadow: 0 0 5px #228DFF;
}
.form-send .send-left {
  padding-left: 10px;
  padding-right: 0;
}
.form-send .send-left label {
  font-family: 'Gotham Medium', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.form-send .send-left input {
  border-bottom: 1px solid #fff;
  text-align: left;
  border-radius: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  font-size: 14px;
  transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.form-send .send-left input:focus {
  border-bottom: 1px solid #54C4F8;
  color: #54C4F8;
}
.form-send .send-left input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: .8;
  color: #fff;
  font-size: 14px;
}
.form-send .send-left input::-moz-placeholder { /* Firefox 19+ */
  opacity: .8;
  color: #fff;
  font-size: 14px;
}
.form-send .send-left input:-moz-placeholder { /* Firefox 18- */
  opacity: .8;
  color: #fff;
  font-size: 14px;
}
.form-send .send-left input:-ms-input-placeholder { /* IE 10+ */
  opacity: .8;
  color: #fff;
  font-size: 14px;
}
.form-send .send-left .input-group{
  width: 100%;
}
.form-send .send-left .input-group .input-group-addon{
  padding: 0;
  background: none;
  border: none;
  color: #fff;
  text-align: right;
  font-family: 'Gotham Medium', sans-serif;
  font-size: 16px;
  position: relative;
  top: 3px;
  left: 0;
  width: 58px;
  padding-right: 8px;
}
.form-send .send-right {
  padding-left: 0;
  padding-right: 10px;
}
.form-send .coin{
  opacity: 0.5;
}
.form-send .coin.active{
  opacity: 1;
}
.form-send .send_receive_popup_wrap {
  min-height: 34px;
  margin-top: 10px;
  width: 100%;
  float: right;
}
.form-send .send_receive_info {
  position: relative;
  border: 1px solid #327A9B;
  border-radius: 8px;
  background: url(../images/info-bg.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 7px 26px 7px 8px;
  margin-right: 0;
  opacity: 0;
  visibility: hidden;
  height: 100%;
  transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.form-send .send_receive_info.active {
  visibility: visible;
  opacity: 1;
}
.form-send .send_receive_info:hover {
  outline: 0px none;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5) !important;
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5) !important;
  border: 1px solid #00e7ff !important;
}
.form-send .send_receive_info p {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  padding: 0;
  font-size: 15px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1.2;
  min-height: 18px;
}
.form-send .send_receive_info .close {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #fff;
  opacity: 1;
  font-size: 16px;
}
.form-send .fee-buttons span {
  background: transparent;
  border-radius: 8px;
  padding: 2px 10px;
  margin: 10px 0px 10px 10px;
  cursor: pointer;
  font-family: "Brandon Grotesque", Helvetica, Arial,sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  width: 67px;
  text-align: center;
}
.form-send .fee-buttons span.active {
  background: rgba(18, 190, 221, .4);
  border: 1px solid #5BD0FB;
}
.form-send .fee-buttons span.slow-btn {
  border: 1px solid #ff9600;
}
.form-send .fee-buttons span.slow-btn.active {
  background: rgba(255, 150, 0, .5);
}
.form-send .fee-buttons span.medium-btn {
  border: 1px solid #0ec8c1;
}
.form-send .fee-buttons span.medium-btn.active {
  background: rgba(14, 200, 193, .4);
}
.form-send .fee-buttons span.fast-btn {
  border: 1px solid #00e7ff;
}
.form-send .form-group p {
  color: #f00;
  margin-bottom: 0;
}
.receive{
  height: 0;
  overflow: hidden;
  transition: all 0.4s;
  top: 1px;
  visibility: hidden;
}
.receive.active{
  height: auto;
  border-top: 1px solid rgba(255,255,255, .2);
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 35px;
  visibility: visible;
  top: 1px;
}
.receive label {
  font-family: 'Gotham Medium', sans-serif;
  font-size: 15px;
  margin-bottom: 1px;
  font-weight: 400;
}
.receive input {
  width: 100%;
  border-radius: 10px;
  display: block;
  margin-bottom: 15px;
  border: 1px solid transparent;
  background: rgba(255,255,255,.1);
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px;
  color: #fff;
  font-size: 16px;
  padding: 4px 10px 3px;
  text-align: left;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.receive input:focus {
  outline: 0px none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(84, 188, 217, 1) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(84, 188, 217, 1) !important;
  border: 1px solid #00e7ff !important;
}
.receive .receive-address-wrap {
  padding-left: 10px;
  padding-right: 0;
}
.receive .qr-code-wrap {
  text-align: center;
}
.receive canvas {
  margin-top: 20px;
  margin-bottom: 0;
  width: 100px !important;
  height: 100px !important;
  background: #fff;
  padding: 5px;
}
.receive button {
  border: 1px solid #327A9B;
  border-radius: 0px;
  background: url('../images/btn-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
}
.receive button img{
  display: inline-block;
  margin-left: 5px;
  height: 20px;
}
.private_key_popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  opacity: 0;
  background: rgba(17, 136, 158, .9);
  border: 1px solid #00e7ff;
  border-radius: 10px;
  display: flex;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.private_key_popup.active {
  z-index: 1;
  opacity: 1;
}
.private_key_popup h4 {
  margin-top: 0;
  line-height: 1;
  margin-bottom: 7px;
  font-size: 17px;
}
.private_key_popup p {
  height: 20px;
  font-size: 16px;
  margin-bottom: 7px;
}
.private_key_popup p::selection {
  background: #ffb7b7;
}
.private_key_popup p::-moz-selection {
  background: #ffb7b7;
}
.private_key_popup button {
  font-family: 'Gotham Medium', sans-serif;
  padding: 3px 15px 2px;
  border: none;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  background: rgba(0, 231, 255, .8);
  display: inline-block;
}

/* Media Queries */
@media (min-width: 1480px) {
  .keys-container .sidebar-opened {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}