@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/GOTHAM-MEDIUM.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-MEDIUM.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/GOTHAM-MEDIUM.woff') format('woff'), /* Modern Browsers */
  url('../fonts/GOTHAM-MEDIUM.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/GOTHAM-MEDIUM.svg#0fbe3a09622d8fb1f474f00917396ba1') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham Light';
  src: url('../fonts/GOTHAM-LIGHT.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-LIGHT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/GOTHAM-LIGHT.woff') format('woff'), /* Modern Browsers */
  url('../fonts/GOTHAM-LIGHT.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/GOTHAM-LIGHT.svg#0fdc6c734a7ca54436fb28af9ab2f202') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Regular.eot');
  src: url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BrandonGrotesque-Regular.woff') format('woff'),
  url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype'),
  url('../fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Thin.eot');
  src: url('../fonts/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BrandonGrotesque-Thin.woff') format('woff'),
  url('../fonts/BrandonGrotesque-Thin.ttf') format('truetype'),
  url('../fonts/BrandonGrotesque-Thin.svg#BrandonGrotesque-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Bold.eot');
  src: url('../fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BrandonGrotesque-Bold.woff') format('woff'),
  url('../fonts/BrandonGrotesque-Bold.ttf') format('truetype'),
  url('../fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
textarea, input:focus, button {
  outline-color: transparent;
  outline-style: none;
  box-shadow: none !important;
}
html, body, body #root, body #root > div{
  height:100%;
}
html{
  overflow: hidden;
}
body{
  background: url('../images/sky-bg.png');
  background-size: cover;
  background-position: top center;
  font-family: "Brandon Grotesque", Helvetica, Arial,sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.wallet-page {
  overflow: hidden;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-delay: .4s;
  -webkit-animation-delay: .4s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Buttons and Transitions */
.button-shine {
  position: relative;
  text-align: center;
  color: #00c7ec;
  border: 1px solid #00c7ec;
  border-radius: 5px;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button-shine:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.button-shine:hover:before {
  -webkit-animation: shine 0.5s 0s linear;
  -moz-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}
.button-shine:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.button-shine:before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.button-shine-green {
   position: relative;
   text-align: center;
   border: 1px solid #00c7ec;
   border-radius: 5px;
   box-shadow: 0 0 0 0 transparent;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
 }
.button-shine-green:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(14, 200, 193, .5) !important;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.button-shine-green:hover:before {
  -webkit-animation: shine 0.5s 0s linear;
  -moz-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}
.button-shine-green:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.button-shine-green:before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.button-shine-orange {
  position: relative;
  text-align: center;
  border: 1px solid #fda43c;
  border-radius: 5px;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button-shine-orange:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(253, 164, 60, .5) !important;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.button-shine-orange:hover:before {
  -webkit-animation: shine 0.5s 0s linear;
  -moz-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}
.button-shine-orange:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.button-shine-orange:before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.button-shine-red {
  position: relative;
  text-align: center;
  border: 1px solid #c80e4b;
  border-radius: 5px;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button-shine-red:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.button-shine-red:hover:before {
  -webkit-animation: shine 0.5s 0s linear;
  -moz-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}
.button-shine-red:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.button-shine-red:before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.button-neon-blue {
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
}
.button-neon-blue:hover {
  -webkit-animation: neon-blue 1.5s ease-in-out infinite alternate;
  -moz-animation: neon-blue 1.5s ease-in-out infinite alternate;
  animation: neon-blue 1.5s ease-in-out infinite alternate;
  /*text-shadow: 0px 0px 5px rgba(18, 190, 221, 1);*/
}
.button-neon-green {
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
}
.button-neon-green:hover {
  -webkit-animation: neon-green 1.5s ease-in-out infinite alternate;
  -moz-animation: neon-green 1.5s ease-in-out infinite alternate;
  animation: neon-green 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@-moz-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -10%, 0)
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
.fadeOutRight {
  animation-name: fadeOutRight;
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
.fadeOutUp {
  animation-name: fadeOutUp;
}
@keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translateZ(0);
  }
}
.bounceInUp {
  animation-name: bounceInUp;
}
@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
.bounceInDown {
  animation-name: bounceInDown;
}
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
.bounceOutUp {
  animation-name: bounceOutUp;
}
@keyframes shake {
  0%,
  to {
    transform: translateZ(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}
.shake {
  animation-name: shake
}
@keyframes neon-blue {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #228DFF, 0 0 7px #00d1ff, 0 0 9px #00d1ff, 0 0 11px #00d1ff, 0 0 13px #00d1ff;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #228DFF, 0 0 5px #00d1ff, 0 0 6px #00d1ff, 0 0 7px #00d1ff, 0 0 8px #00d1ff;
  }
}
@-moz-keyframes neon-blue {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #228DFF, 0 0 7px #00d1ff, 0 0 9px #00d1ff, 0 0 11px #00d1ff, 0 0 13px #00d1ff;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #228DFF, 0 0 5px #00d1ff, 0 0 6px #00d1ff, 0 0 7px #00d1ff, 0 0 8px #00d1ff;
  }
}
@-webkit-keyframes neon-blue {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #228DFF, 0 0 7px #00d1ff, 0 0 9px #00d1ff, 0 0 11px #00d1ff, 0 0 13px #00d1ff;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #228DFF, 0 0 5px #00d1ff, 0 0 6px #00d1ff, 0 0 7px #00d1ff, 0 0 8px #00d1ff;
  }
}
@keyframes neon-green {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #0ec8c1, 0 0 7px #0ec8c1, 0 0 9px #0ec8c1, 0 0 11px #0ec8c1, 0 0 13px #0ec8c1;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #0ec8c1, 0 0 5px #0ec8c1, 0 0 6px #0ec8c1, 0 0 7px #0ec8c1, 0 0 8px #0ec8c1;
  }
}
@-moz-keyframes neon-green {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #0ec8c1, 0 0 7px #0ec8c1, 0 0 9px #0ec8c1, 0 0 11px #0ec8c1, 0 0 13px #0ec8c1;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #0ec8c1, 0 0 5px #0ec8c1, 0 0 6px #0ec8c1, 0 0 7px #0ec8c1, 0 0 8px #0ec8c1;
  }
}
@-webkit-keyframes neon-green {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #0ec8c1, 0 0 7px #0ec8c1, 0 0 9px #0ec8c1, 0 0 11px #0ec8c1, 0 0 13px #0ec8c1;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #0ec8c1, 0 0 5px #0ec8c1, 0 0 6px #0ec8c1, 0 0 7px #0ec8c1, 0 0 8px #0ec8c1;
  }
}

/* Media Queries */
@media (min-width: 1480px) {
  .keys-container .sidebar-opened {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
