@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/GOTHAM-MEDIUM.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-MEDIUM.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/GOTHAM-MEDIUM.woff') format('woff'), /* Modern Browsers */
  url('../fonts/GOTHAM-MEDIUM.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/GOTHAM-MEDIUM.svg#0fbe3a09622d8fb1f474f00917396ba1') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../fonts/GOTHAM-LIGHT.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-LIGHT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GOTHAM-LIGHT.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GOTHAM-LIGHT.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GOTHAM-LIGHT.svg#0fdc6c734a7ca54436fb28af9ab2f202') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Regular.eot');
  src: url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BrandonGrotesque-Regular.woff') format('woff'),
  url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype'),
  url('../fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Thin.eot');
  src: url('../fonts/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BrandonGrotesque-Thin.woff') format('woff'),
  url('../fonts/BrandonGrotesque-Thin.ttf') format('truetype'),
  url('../fonts/BrandonGrotesque-Thin.svg#BrandonGrotesque-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Bold.eot');
  src: url('../fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BrandonGrotesque-Bold.woff') format('woff'),
  url('../fonts/BrandonGrotesque-Bold.ttf') format('truetype'),
  url('../fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

textarea, input:focus, button { outline-color: transparent;
  outline-style: none; box-shadow: none !important;}
html, body, body #root, body #root > div{
  height:100%;
}
html{
  overflow: hidden;
}
body{
  background: url('../images/sky-bg.png');
  background-size: cover;
  background-position: top center;
  font-family: "Brandon Grotesque", Helvetica, Arial,sans-serif;
}
.Login-logo{
  height: 100px;
  /* display: flex; */
  /* align-content: center; */
  /* align-items: center; */
  text-align: center;
}
.Login-logo h2 {
  display: inline-block;
  width: 100%;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 0;
  margin-top: 30px;
}
.Login-logo h3 {
  display: inline-block;
  width: 100%;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 10px;
}
.Login-logo img{
  margin: auto;
  display: block;
  max-width: 200px;
}
.Login-form form{
  background: url(../images/login-bg.png);
  background-size: contain;
  background-repeat: repeat-x;
  display: block;
  max-width: 440px;
  margin: auto;
  margin-bottom: 20px;
  padding: 110px 40px 65px;
  text-align: center;
  border-radius: 15px;
}
.login-wrap .col-xs-12 {
  background: url('../images/login-bg.png');
  background-size: 100% 100%;
  display: block;
  padding-bottom: 20px;
}
.importwallet-wrap .col-xs-12 {
  background: url('../images/importwallet-bg.png');
  background-size: 100% 100%;
  background-repeat: x;
  display: block;
  padding-bottom: 20px;
}
.App-intro, .Login-form{
  height: calc(90% - 100px);
  margin-top: 50px;
}
.App-intro img {
  display: block;
  margin: auto;
}
.App-intro .col-xs-6 a{
  color: #5ACFFA;
  text-decoration: none;
}
.App-intro .col-xs-6 a > div {
  padding-top: 55px;
  padding-bottom: 35px;
  margin-bottom: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  min-height: 389px;
}
.App-intro .col-xs-6 a > div > img{
  height: 190px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
.App-intro .col-xs-6 .btn,
.Login-form .btn {
  width: 90%;
  border: 0px none;
  border-radius: 0px;
  box-shadow: none;
  background: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 4px;
  font-weight: 600;
  padding: 10px 15px;
  margin-bottom: 10px;
  transition: all 0.4s;
}
.App-intro .col-xs-6 .btn:focus,
.Login-form .btn:focus {
  outline: 0px none;
}
.App-intro .col-xs-6 .btn img,
.Login-form .btn img {
  display: inline-block;
  margin-left: 5px;
  height: 25px;
  position: relative;
  top: -3px;
}
.App-intro .col-xs-6 p {
  font-family: Helvetica, sans-serif;
  margin-bottom: 0px;
  color: rgba(255,255,255, .63);
  font-size: 15px;
}
.Intro-footer{
  height: 10%;
  position: absolute;
  bottom: 0;
  width: auto;
  text-align: left;
}
.Intro-footer img {
  margin: 0 0 10px;
}
.Intro-footer p {
  width: 100%;
  color: rgba(255,255,255, .5);
}
.Import-wallet {
  height: auto;
  margin-top: 50px;
}
.Import-wallet form {
  background: url(../images/importwallet-bg.png);
  background-size: contain;
  background-repeat: repeat-x;
  display: block;
  max-width: 440px;
  margin: auto;
  margin-bottom: 20px;
  padding: 90px 40px 45px;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.Import-wallet .btn {
  width: 100%;
  border: 0px none;
  border-radius: 0px;
  box-shadow: none;
  background: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 4px;
  font-weight: 600;
  padding: 10px 15px;
  transition: all 0.4s;
  margin-top: 20px;
}
.Import-wallet .btn:focus {
  outline: 0px none;
  background: transparent;
}
.Import-wallet .btn img {
  display: inline-block;
  margin-left: 5px;
  height: 25px;
  position: relative;
  top: -3px;
}
.Import-wallet .fileandpass {
  width: 100%;
  border: 1px solid #445059;
  border-radius: 0px;
  background: url('../images/btn-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 18px;
  padding: 15px;
}
.Import-wallet .fileandpass > p{
  color: #777E85;
  margin: 0;
}
.Import-wallet .fileandpass > p.filename{
  color: #fff;
}
.Import-wallet .fileandpass > input{
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid #3580A0;
  background: url(../images/lock.png) no-repeat;
  background-size: auto 70%;
  background-position: 8px center;
  padding: 20px;
  font-size: 18px;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  line-height: 60px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.Import-wallet .fileandpass > input:focus {
  outline: 0px none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(84, 188, 217, 1) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(84, 188, 217, 1) !important;
  border: 1px solid #54BCD9;
}
.Import-wallet input[name="fileInput_filename"] {
  text-indent: -9999px !important;
  background: url('../images/import-top.png') !important;
  background-size: auto 100% !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  padding: 50px !important;
  z-index: 99999 !important;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}
.Import-wallet input[name="fileInput"] {
  z-index: 999999 !important;
  padding: 50px !important;
}
.Import-wallet > p {
  color: #00C9FF;
}
.Login-form input {
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid transparent;
  background: url(../images/clipboard.png);
  background-size: 100% 100%;
  padding: 20px 15px;
  line-height: 60px;
  height: 60px;
  font-size: 18px;
  color: #fff;
}
.Login-form input:focus {
  outline: 0px none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(84, 188, 217, 1) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(84, 188, 217, 1) !important;
  border: 1px solid #54BCD9;
}
.Login-form .btn {
  width: 100%;
  color: #fff;
  border-radius: 0px;
  padding: 15px 10px;
  margin-top: 20px;
}
.Login-form .btn:focus,
.Login-form .btn:active{
  outline: none;
  background: none;
}
.Login-form > p {
  color: #00C9FF;
}
.Create-wallet-form form {
  margin-top: 0;
}
.navbar-default {
  height: 85px;
  background: url('../images/menu-bg.png');
  background-size: cover;
  background-position: center center;
  border: none;
  border-radius: 0px;
  padding-bottom: 10px;
}
.navbar-default .coin-amounts {
  padding-bottom: 5px;
}
.navbar-default .navbar-brand img {
  height: 40px;
}
.navbar-default .navbar-brand span {
  margin-top: 5px;
  color: #fff;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li {
  color: #fff;
  text-transform: uppercase;
}
.navbar-default .navbar-nav>li {
  color: #707678;
}
.navbar-default .navbar-nav>li>span.amount {
  color: #4AACCE;
}
.coin-amounts li {
  margin-right:10px;
}
.nav>li>a>img {
  height:25px;
  margin-left:5px;
}
.key-buttons > .row > .col-xs-12 {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.key-buttons input {
  background:url('../images/btn-bg.png');
  border:1px solid #327A9B;
  color:#fff;
  padding:10px;
  line-height:24px;
}
.key-buttons .row .col-xs-12 > button, .key-buttons .row .col-xs-12 > form {
  display:inline-block;
  margin-right:10px;
  margin-bottom:10px;
}
.key-buttons .row .col-xs-12 > button:last-child {
  margin-right:0;
}
.key-buttons .row .col-xs-12 > form{
    flex-grow: 1;
    display: flex;
}
.key-buttons .row .col-xs-12 > form > input{
    flex-grow: 1;
}
.single-key{
  background:rgba(0,0,0,0.3);
  background-size:cover;
  background-repeat: no-repeat;
  color:#fff;
  padding:1px 5px;
  border:1px solid #327A9B;
  margin-bottom:5px;
}
.single-key .col-xs-7{
  padding-left:0;
}
.single-key .key{
  font-size:18px;
  font-family: Arial;
  letter-spacing: 0.1em;
  margin-top: 12px;
  margin-bottom: 10px;
}
.single-key .amounts{
  text-transform: uppercase;
}
.single-key .amounts > span{
  display:flex;
  margin-bottom:5px;
  padding-left:5px;
}
.single-key .amounts > button.archive-button{
  background: none;
  border:none;
  padding-left:5px;
  padding-bottom:10px;
}
.single-key .amounts > button.archive-button > span{
  background:url('../images/btn-bg.png');
  background-size:100% 100%;
  border:1px solid #327A9B;
  padding:5px;
  white-space: nowrap;
}
.single-key .amounts > div.amounts {
  margin-left: 0px
}
.single-key .amounts > button.history-button > span{
  margin-top: 25px;
}
.single-key .amounts > span > span{
  color:#00d1ff;
  width: calc(50% - 30px);
}
.single-key .amounts > span > span:first-child{
  text-align: right;
}
.single-key .amounts > span > span.coin-name{
  color: #fff;
  background: url('../images/prelaz.png');
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width:80px;
  text-align:center;
}
.single-key .amounts > span > span.coin-name{
  color: #fff;
  background: url('../images/prelaz.png');
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width:80px;
  text-align:center;
}
.single-key .pull-right button, .key-buttons button, .form-send button, .form-send .fee-buttons span, .overflow.sendModal button, .overflow.sendModal p{
  border:1px solid #327A9B;
  border-radius: 0px;
  background:url('../images/btn-bg.png');
  background-size:100% 100%;
  background-repeat:no-repeat;
  color:#fff;
  text-transform: uppercase;
  font-size:17px;
  padding:10px;
  margin-right:5px;
}
.single-key .pull-right button{
  padding: 5px 10px;
  margin-top:7px;
  padding-top: 5px;
  padding-bottom: 3px;
}
.single-key .pull-right button:disabled{
  opacity:0.5;
}
.single-key .pull-right button:hover, .key-buttons .row .col-xs-12 > button:hover, .key-buttons .row .col-xs-12 > form > button:hover{
  border:1px solid #5BD0FB;
}
.single-key .pull-right{
  margin-right:3px;
}
.single-key .pull-right button img{
  display:inline-block;
  margin-left:5px;
  height: 15px;
  position: relative;
  top: -2px;
}
.form-send{
  height:0;
  overflow:hidden;
  transition: all 0.4s;
}
.form-send.active{
  border-top:1px solid #3A464A;
  margin-top:15px;
  padding-top:15px;
  padding-bottom:15px;
  height:auto;
}
.form-send button, .form-send .fee-buttons span{
  float:right;
  margin-top:10px;
  margin-right:0;
  padding:5px 15px;
}
.form-send button:hover{
  border:1px solid #5BD0FB;
}
.form-send .form-group{
  width:100%;
  text-align:right;
}
.form-send .form-group label{
  margin-right:5px;
  text-transform: uppercase;
  font-size:12px;
}
.form-send .send-left .form-group{
  text-align:left;
}
.form-send .send-left img{
  width:130px;
  padding:10px;
  padding-top:0;
}
.form-send input{
  border:none;
  background:none;
  border-bottom:1px solid #8c8c8c;
  color:#fff;
  text-align:right;
}
.form-send .send-left input{
  border-bottom:1px solid #54C4F8;
  text-align: left;
}
.form-send .send-left .input-group{
  width:100%;
}
.form-send .send-left .input-group .input-group-addon{
  padding:0;
  background:none;
  border:none;
  color:#fff;
  text-align:right;
}
.form-send .coin{
  opacity:0.5;
}
.form-send .coin.active{
  opacity:1;
}
.receive{
  height:0;
  overflow:hidden;
  transition: all 0.4s;
}
.receive.active{
  height:auto;
  border-top:1px solid #3A464A;
  margin-top:15px;
  padding-top:15px;
}
.receive input[name="receive-address"]{
  width:100%;
  background:#0F3041;
  border:none;
  border-bottom:1px solid #45A0C1;
  padding:10px;
  font-family: Arial;
}
.receive .col-xs-8 label{
  display:block;
  margin-top:20px;
}
.receive .col-xs-8 input{
  background:none;
  border:none;
  border-bottom:1px solid #fff;
}
.receive canvas{
  margin-top:20px;
  margin-bottom:20px;
  width:140px !important;
  height:140px !important;
  background:#fff;
  padding:5px;
}
.receive button{
  border:1px solid #327A9B;
  border-radius: 0px;
  background:url('../images/btn-bg.png');
  background-size:100% 100%;
  background-repeat:no-repeat;
  color:#fff;
  text-transform: uppercase;
  font-size:17px;
  padding:10px;
  width:100%;
  margin-top:20px;
}
.receive button img{
  display:inline-block;
  margin-left:5px;
  height:20px;
}
.wallet-tabs .btn{
  background:url('../images/btn-bg.png') !important;
  background-size:100% 100%;
  border:1px solid #327A9B !important;
  padding:8px 15px;
  border-radius: 0;
  text-shadow: none;
  color:#fff;
  text-transform: uppercase;
  margin-bottom:10px;
  margin-right:10px;
}
.wallet-tabs .btn.active, .wallet-tabs .btn:active{
  color:#00d1ff;
  background:url('../images/button-hover.png.png') !important;
}
.explorer{
  color:#fff;
}
.explorer h3{
  border-bottom:1px solid #3E94B2;
  color:#fff;
  text-align:center;
  text-transform: uppercase;
  padding-bottom:5px;
}
.explorer .input-group input, .explorer .input-group button{
    background:url('../images/btn-bg.png');
    border:1px solid #1B4B65;
    color:#fff;
}
.explorer .input-group input{
    padding: 36px;
    font-size: 23px;
}
.explorer .input-group{
  width:100%;
}
.explorer .input-group .input-group-addon{
  padding:0;
  border:none;
  background:none;
  position:absolute;
  right:0;
}
.explorer .input-group .input-group-addon button{
  position: absolute;
  right: 10px;
  z-index: 9999;
  top: 10px;
  padding: 15px;
  font-size: 20px
}
.explorer table.table{
  margin-top:20px;
}
.explorer .table>tbody>tr>td,
.explorer .table>tbody>tr>th,
.explorer .table>tfoot>tr>td,
.explorer .table>tfoot>tr>th,
.explorer .table>thead>tr>td,
.explorer .table>thead>tr>th{
  border-top:1px solid #2D719D;
}
.explorer th{
  padding:8px;
}
.overflow.historyModal {
  background:rgba(1, 30, 44, 1);
  color:#54C4F8;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 90%;
  overflow-y: auto;
  display: flex;
  transition: all 0.4s;
  opacity:0;
  z-index:-9999;
}
.overflow.historyModal.active{
  opacity:1;
  z-index:9999;
}
.overflow.historyModal p {
  color:#54C4F8;
}
.overflow.sendModal{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 0.4s;
    opacity:0;
    z-index:-9999;
}
.overflow.sendModal.active{
  opacity:1;
  z-index:9999;
}
.overflow.sendModal > form{
  min-width:400px;
  margin:auto;
  height:100%;
}
.overflow.sendModal > form > .col-xs-12{
  background:rgba(1, 30, 44, 1);
  height:100%;
}
.overflow.sendModal > form h3{
  text-align:center;
  border-bottom:1px solid #4D5D66;
  color:#fff;
  text-transform: uppercase;
}
.overflow.sendModal > form h3 span{
  text-align:right;
  color:#fff;
  text-shadow: none;
  opacity:1;
}
.overflow.sendModal .currency{
  color:#fff;
  margin:10px auto;
  text-align:center;
}
.overflow.sendModal .currency img{
  max-width:100px;
}
.overflow.sendModal input{
  border:none;
  background:none;
  border-bottom:1px solid #fff;
  color:#fff;
  text-align:right;
  border-bottom:1px solid #54C4F8;
  text-align: left;
}
.overflow.sendModal .input-group{
  width:100%;
}
.overflow.sendModal .input-group .input-group-addon{
  padding:0;
  background:none;
  border:none;
  color:#fff;
  text-align:right;
  min-width:50px;
}
.overflow.sendModal .col-xs-6.col-xs-offset-3{
  text-align:center;
  margin-top:15px;
}
.overflow.sendModal .col-xs-6.col-xs-offset-3 label{
  min-width: 60px;
  text-align: right;
  margin-right: 5px;
  color: #fff;
}
.overflow.sendModal .col-xs-6.col-xs-offset-3 input{
  border-bottom: 1px solid #fff;
  text-align: right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.overflow.sendModal button, .overflow.sendModal p{
  padding: 5px 10px;
  margin-bottom: 20px;
}
.overflow.sendModal p {
  color: #54C4F8;
}
.keys-container{
  overflow-y: scroll;
  height: calc(100% - 270px);
}
.wallet-page{
  overflow: hidden;
}
.back-button{
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background: url(../images/back-btn-bg.png);
  background-repeat: repeat-y;
  background-position: left center;
  padding: 4px 9px;
  cursor: pointer;
  position: absolute;
  right: 0;
  border: 0px none;
  border-radius: 10px;
  min-width: 112px;
}
.back-button:hover{
  color:#fff;
  text-decoration: none;
}
.back-button img{
  display: inline-block;
  position: relative;
  top: -3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.refresh-button{
  position: relative;
}
.refresh-button img, .settings img{
  max-width: 30px;
  height: auto;
}
.refresh-button span{
  display: none;
}
.refresh-button.disabled span{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  padding-top: 18px;
  line-height: 1;
  text-transform: lowercase;
}
.status{
  margin-bottom: 10px;
  display: flex;
}
.status button{
  padding:5px;
  text-align: left;
  display:flex;
}
.status button:first-child{
  flex-grow: 0;
}
.status button:last-child{
  flex-grow: 1;
  margin-right: 0;
}
.status span{
  padding-right:5px;
}
.status span:first-child{
  padding-left:5px;
}
.status span.status-red:after{
  content:"\2b24";
  color: #f00;
  position: relative;
  top: -2px;
  font-size:12px;
  margin-left: 5px;
}
.status span.status-green:after{
  content:"\2b24";
  color: #0f0;
  position: relative;
  top: -2px;
  font-size: 12px;
  margin-left: 5px;
}
.form-send .fee-buttons span{
  margin-left: 5px;
  padding: 1px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.form-send .fee-buttons span.active{
  border:1px solid #5BD0FB;
}
.form-send .form-group p{
  color:#f00;
  margin-bottom:0;
}
.settingsModal{
  color:#fff;
}
.settingsModal .form-group{
  width:100%;
}
.overflow.sendModal.settingsModal button{
  display:block;
  margin:auto;
  margin-bottom:10px;
}
.settingsModal label{
  min-width: 130px;
}
.overflow.sendModal.walletResetModal{
  background:none;
}
.overflow.sendModal.walletResetModal .container{
  background:rgba(1, 30, 44, 1);
}
.overflow.sendModal.walletResetModal p{
  background:none;
  border:none;
}
.overflow.sendModal.walletResetModal h3{
  text-align:center;
  border-bottom:1px solid #4D5D66;
  color:#fff;
  text-transform: uppercase;
}
.overflow.sendModal.walletResetModal h3 .close{
  color:#fff;
  opacity: 1;
}
.overflow.sendModal.walletResetModal form button{
  margin-top:10px;
}
.overflow.sendModal.walletResetModal form input{
  text-align: center;
}
.overflow.sendModal.walletResetModal label{
  color:#fff;
}
.sendCloseButton{
  padding-bottom:5px;
}
.historyModal .close {
  color:#f00;
  opacity: 0.8;
  font-size: 20px;
}
.sendCloseButton .close{
  color:#f00;
  opacity: 1;
  font-size:15px;
  float:left;
  text-align: left;
}
.sendCloseButton .close:hover{
  color:#327A9B;
}
.version-number{
  color:#fff;
}
#history_txs {
  height:100%;
  text-align: center;
}
#history_txs > div {
  border: 1px solid #00C9FF;
  border-radius: 2px;
  margin-bottom: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  height:85px;
}
#history_txs > div{
  text-align: left;
  float: left;
}
#history_txs > div > pre {
  display: inline;
  padding: 2px;
  font-size: 10px;
  background-color: #cbf6ff;
  border-radius: 5px;
  opacity: 0.8;
}
#history_txs > div > pre:first-of-type {
  font-style: italic;
  background-color: #000;
  border: 0px;
  color: #0f0;
}
.button-shine {
  position: relative;
  text-align: center;
  color: #00c7ec;
  border: 1px solid #00c7ec;
  border-radius: 5px;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button-shine:hover {
  color: white !important;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.button-shine:hover:before {
  -webkit-animation: shine 0.5s 0s linear;
  -moz-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}
.button-shine:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.button-shine:before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@-moz-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}