.overflow.sendModal.walletResetModal {
  width: 214px;
  border-top-left-radius: 10px;
}
.overflow.sendModal.walletResetModal .container {
  padding-left: 10px;
  padding-right: 10px;
}
.overflow.sendModal.walletResetModal p {
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  text-transform: initial;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-right: 0;
}
.overflow.sendModal.walletResetModal h3 {
  text-align: left;
  /*border-bottom: 1px solid #4D5D66;*/
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.overflow.sendModal.walletResetModal h3 .close {
  color: #fff;
  opacity: 1;
  margin-left: 10px;
  font-size: 20px;
}
.overflow.sendModal.walletResetModal form button {
  display: block;
  margin: 20px auto 60px;
  border: 1px solid rgba(0, 231, 255, 1);
  border-radius: 10px;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 1px 5px;
  width: 100%;
}
.overflow.sendModal.walletResetModal form input {
  text-align: center;
  margin-bottom: 15px;
  animation-duration: 1s;
  animation-fill-mode: both;
  padding: 6px 5px 5px;
}
.overflow.sendModal.walletResetModal form input[type=checkbox] {
  width: auto;
  margin-bottom: 0px;
  margin-right: 8px;
  display: inline-block;
}
.overflow.sendModal.walletResetModal label {
  color: #fff;
  line-height: 1.4;
}